@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-canvas-background text-slate-900 antialiased;
}

html,
body,
#root {
  height: 100%;
}

button:focus-visible {
  @apply outline-none ring-2 ring-offset-2 ring-canvas-accent;
}
